################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PlayerTwoTracker/.vs
/PlayerTwoTracker/PlayerTwoTracker.Api/bin/
/PlayerTwoTracker/PlayerTwoTracker.Api/obj/
/PlayerTwoTracker/PlayerTwoTracker.Infrastructure/bin/
/PlayerTwoTracker/PlayerTwoTracker.Infrastructure/obj/
/PlayerTwoTracker/PlayerTwoTracker.Tests/bin/
/PlayerTwoTracker/PlayerTwoTracker.Tests/obj/
/PlayerTwoTracker/PlayerTwoTracker.Application/bin/
/PlayerTwoTracker/PlayerTwoTracker.Application/obj/
